:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
.homepage{
    min-height: 100vh;
    padding: 20rem 0rem;
}

.homepage  button{
    padding: 10px 20px;
}
.homepage .head_text{
    font-size: 30px;
    line-height: 40px;
    font-weight: 600;
}
.homepage .head_text_primary{
    font-size: 20px;
    font-weight: 400;
    padding-top: 10px;
}